name: Test

on:
  push:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actonlang/setup-acton@v1
        with:
          channel: 'tip'
      - name: "Check out repository code"
        uses: actions/checkout@v4
      - name: "Cache acton stuff"
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/acton
            ~/.cache/ayang
            out
            !out/bin
          # Hacky cache update:
          # https://github.com/actions/cache/blob/main/tips-and-workarounds.md#update-a-cache
          key: acton-${{ github.run_id }}
          restore-keys: |
            acton
      - run: acton build
      - run: acton test
